{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-push-3">

            <div class="row" style="background-color:white; ">
                <div class="col-md-12 text-center">
                    <h1>Ticket toevoegen</h1>
                </div>
                <div class="col col-md-12" style="padding:50px; padding-top:30px;">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="hidden">
        <li>
            <a href="{{ path('strip_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
