{% extends 'base.html.twig' %}

{% block body %}
<div class="row" style="min-height: 300px; padding-top:50px;">
    <div class="col-md-6 text-center">
        <a href="{{ path('lid_index') }}">
            <i class="fa fa-user" style="font-size:5em;"></i>
            <br>
            Leden overzicht
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a href="{{ path('strip_new') }}">
            <i class="fa fa-tags" style="font-size:5em;"></i>
            <br>
            Strippen Toevoegen
        </a>
    </div>
</div>
{% endblock %}
